@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'IBM Plex Sans', sans-serif;
}

button {
   cursor: pointer;
}

header {
   width: 100%;
   padding-top: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.navbar-header {
   width: 40%;
}

.navbar-header ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

.navbar-header > ul > li > a {
   text-decoration: none;
   font-size: 1.2rem;
   color: #025157;
}

.actions a {
   color: #025157;
   font-weight: bold;
   text-decoration: none;
   font-size: 15px;
}

.actions button {
   color: white;
   background-color: #025157;
   margin-left: 10px;
   padding: 10px 20px;
   border-radius: 5px;
   border: none;
   transition: 0.3s ease-in-out;
}

.actions button:hover {
   background-color: #67b54b;
}

/* Contenido */

.main {
   max-width: 1200px;
   width: 95%;
   margin: 0 auto;
}

/* PROMO */

.container-promo {
   margin-top: 2rem;
   padding: 0 10px;
}

.container-promo__title {
   text-align: center;
}

.container-promo__title h1 {
   font-size: 1.5rem;
   color: #025157;
   margin: 10px 0;
   font-family: 'Vesper Libre', serif;
}

.container-promo__title p{
   font-size: 1.2rem;
}

.container-promo-video video {
   width: 100%;
}

.container-promo__btns {
   margin: 10px 0;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.container-promo__btns button{
   color: white;
   font-size: 1.1rem;
   padding: 10px;
   background-color: #67B54B;
   border: none;
   border-radius: 5px;
}

.container-promo__btns img{
   margin: 15px 0;
}

/* FEATURES */
.feature-content-header {
   padding-top: 60px;
   text-align: center;
}

.feature-content-header h2 {
   font-size: 30px;
   color: #025157;
   font-family: 'Vesper Libre', serif;
}

.feature-content-header p {
   font-size: 20px;
}

.feature-card {
   height: 380px;
   width: 300px;
   text-align: center;
   margin: 15px auto;
}

.feature-card__img {
   margin-bottom: 20px;
}

.feature-card .feature-card__img img {
   width: 100%;
   border-radius: 10px;
   border: 1px solid #ccc;
}

.feature-card__content a {
   color: black;
   text-decoration: none;
   font-size: 1.3rem;
}

.feature-card__content p {
   font-size: 1.1rem;
   margin-top: 20px;
}

/* Tools */

.tools-title {
   color: #025157;
   text-align: center;
   font-size: 15px;
}

.tools-title h2 {
   font-family: 'Vesper Libre', serif;
}

.tools-container {
   padding-top: 30px;
   padding-bottom: 50px;
   max-width: 1400px;
}

.tools-container .tools-items {
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 280px;
   height: 300px;
   margin: 16px auto;
}

.tools-items__container {
   padding: 18px;
}

.tools-items .tools-items__container h3 {
   margin: 20px 0;
   font-size: 20px;
}

.tools-items .tools-items__container p {
   font-size: 15px;
}

.tools-items img {
   margin-top: 20px;
   width: 40px;
}

/* cases */

.cases {
   max-width: 1200px;
   width: 95%;
   margin: 0 auto;
}

.cases .cases-text {
   text-align: left;
   padding: 10px 30px;
}

.cases-text__title {
   font-size: 2rem;
   color: #025157;
   font-weight: 900;
   padding-bottom: 10px;
   font-family: 'Vesper Libre', serif;
}

.cases-text p {
   font-size: 20px;
   text-align: left;
   margin-bottom: 1rem;
}

.cases-text button {
   color: #fff;
   border-radius: 8px;
   border: none;
   padding: 15px 20px;
   background: #025157;
   transition: 0.3s ease-in-out;
}

.cases-text button:hover {
   background-color: #67b54b;
}

.cases-card-content {
   border-radius: 5px;
   width: 90%;
   margin: 0 auto;
   border: 1px solid #ccc;
}

.cases-card-containerImg {
   background-image: url('https://getmatcha.com/wp-content/uploads/2019/05/profile-headshot-square.png') ;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 200px;
}

.cases-card-infoCard {
   text-align: center;
   padding: 10px;
}

.cases-card-infoCard__title {
   font-size: 1.5rem;
   font-weight: 400;
   padding-top: 20px;
   padding-bottom: 20px;
}

.cases-card-infoCard p {
   text-align: left;
   padding-bottom: 20px;
}

.cases-card-infoCard button {
   width: 80%;
   background: #025157;
   border-radius: 5px;
   border: none;
   font-size: 13px;
   color: #fff;
   padding-top: 10px;
   padding-bottom: 10px;
   transition: 0.2s ease-in-out;
}

.cases-card-infoCard button:hover {
   background-color: #67b54b;
}

/* Block cards */

.blocks {
   font-family: 'IBM Plex Sans', sans-serif;
}

.blocks-card {
   margin: 20px 10px;
   height: 300px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

/* primer block */

.blocks-card:nth-child(1) {
   background-image: url('assets/masters.jpg');
}

.block-content-first {
   padding: 60px;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }

 .block-content-first h3 {
   font-size: 1.5rem;
   color: white;
}

.block-content-first p {
   font-size: 1.2rem;
   color: #67b54b;
}

/* Segundo bloque */
@media (max-width: 930px) {
   /* Quita la imagen cuando se hace mas pequeña la pantalla */
   .block-content-second__right{
      display: none;
   }
}

.block-content-second {
   padding: 20px;
}

.block-content-second__left .morning-title {
   color: #025157;
   font-size: 1.3rem;
 }

.block-content-second__left p {
   margin-top: .5rem;
   font-size: 1.2rem;
   padding: 10px 0;
}

.block-content-second__left a {
   font-size: 1.1rem;
   color: #6abf4b;
   text-decoration: none
}

/* Tercer bloquee; */

.block-content-third {
   height: 100%;
   padding: 10px;
   text-align: center;
   background-color: #FADE82;
}

.block-content-third img {
   width: 90%;
}

.block-content-third p {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 1.2rem;
   color: #135359;
}

.block-content-third a {
   font-weight: bold;
   color: #135359;
   font-size: 1.2rem;
   text-decoration: none;
}

/* Cuarto bloque */

.blocks-card:nth-child(4) {
   background-color: #135359;
}

.block-content-fourth {
   height: 100%;
   padding: 20px;
}

.block-content-fourth h3 {
   font-size: 1.2rem;
   color: white;
   margin-top: 20px;
   margin-bottom: 20px;
}

.block-content-fourth a {
   font-size: 1.2rem;
   color: #6abf4b;
   text-decoration: none;
}

/* Started */
.started-card {
   background-color: #025157;
   width: 90%;
   height: 350px;
   margin: 20px auto;
   border-radius: 10px;
}

.started-card-info {
   padding: 20px 20px;
   color: white;
}

.started-card-info h2 {
   font-size: 1.8rem;
   padding-bottom: 10px;
}

.started-card-info p , .started-card-info a{
   font-size: 1.2rem;
}

.started-card-info a {
   color: #6abf4b;
   text-decoration: none;
}

.started-card-btns {
   padding: 20px 20px;
}

.started-card-btns button{
   border: none;
   border-radius: 10px;
   background-color: #67b54b;
   padding: 16px 20px;
   color: #fff;
   margin-bottom: 1em;
}

.started-card-btns p {
   font-size: 12px;
    line-height: 16px;
    color: #c8c8c8;
}

footer {
   text-align: center;
   margin: 20px auto;
}

.social-logos {
   margin: 20px 0;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

/* Suscribe section */

.subscribe-container {
   padding-top: 50px;
   font-family: 'IBM Plex Sans', sans-serif;
}

.subscribe-container-form h4, .subscribe-nav-links h4 {
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 1px;
   color: #025157;
}

.subscribe-nav-links h4 {
   padding-bottom: 20px;
}

.subscribe-nav-links section a {
   transition: 0.2s ease-in-out;
}

.subscribe-nav-links section a:hover {
   color: #67b54b;
}

.subscribe-container-form p {
   margin: 10px 0;
   font-style: normal;
   font-weight: 400;
   line-height: 25px;
   font-size: 16px;
   letter-spacing: -.5px;
   color: #4a4a4a;
}

.subscribe-container-form {
   padding: 0 20px;
   text-align: center;
}

.subscribe-container form input {
   border-radius: 10px;
   border: 1px solid #025157;
   height: 48px;
   margin-right: -15px;
   width: 70%;
   padding: 0px 10px;
   font-size: 1rem;
}

.subscribe-container form button {
   border: none;
   border-radius: 0px 10px 10px 0px;
   height: 48px;
   color:white;
   background-color: #025157;
   padding: 0px 10px;
   transition: 0.3s ease-in-out;
}

.subscribe-container form button:hover {
   background-color: #67b54b;
}

.subscribe-nav-links section{
   padding-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.subscribe-nav-links a {
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   font-size: 18px;
   color: black;
}

/* Responsive */
@media (min-width: 768px) {
   .container-promo {
      padding-top: 120px;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .container-promo__title {
      max-width: 600px;
      text-align: left;
   }

   .container-promo__title h1 {
      font-size: 3rem;
      color: #025157;
   }

   .container-promo__title p {
      font-size: 1.5rem;
   }

   .container-promo__btns {
      margin: 10px 0;
      display: flex;
      align-items: center;
      flex-direction: row;
   }

   .container-promo__btns img {
      margin-left: 20px;
   }
/* FEATURES */
   .feature-content-header {
      padding-top: 120px;
      padding-bottom: 60px
   }

   .feature-content-header h2 {
      font-size: 4rem;
   }

   .feature-content-header p {
      font-size: 1.2rem;
   }

   .feature-items {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .feature-card {
      width: 430px;
   }

   .feature-card__content a {
      font-size: 1.5rem;
   }
   
   .feature-card__content p {
      font-size: 1.3rem;
   }
   /* Tools */
   .tools-title {
      padding-top: 120px;
      font-size: 2rem;
   }
   .tools-container {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 0rem;
   }
   /* cases */
   .cases {
      padding-top: 60px;
      padding-bottom: 60px;
      display: grid;
      align-items: center;
      grid-template-columns: 30% 1fr;
      column-gap: 2rem;
   }

   .cases-text {
      grid-column: 2 / 3;
   }

   .cases-card {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
   }

    /* Blocks section */
.blocks {
   padding-top: 120px;
   max-width: 1300px;
   width: 95%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 3rem;
 }
   
   .blocks-card {
      margin: 0px 0px;
      height: 320px;
   }
      
   /* Second card */
   
   .block-content-second {
      padding: 20px;
      height: 100%;
      display: grid;
      grid-template-columns: 60% 40% 
   }
      
   .block-content-second__left .morning-title {
      margin-top: 1rem;
      color: #025157;
      font-size: 2.5rem;
   }
      
   .block-content-second__left p {
      margin-top: 1rem;
      font-size: 1.2rem;
   }
      
   .block-content-second__left a {
      font-size: 1.2rem;
      color: #6abf4b;
      text-decoration: none;
   }
      
      
   .block-content-second__right img {
      width: 180px;
   }
      
      /* Third card */
   .block-content-third img {
      margin-top: 10%;
      width: 50%;
   }

      
   /* Fourth */
   .block-content-fourth h3 {
      font-size: 2rem;
   }
      
   .block-content-fourth a {
      font-size: 1.5rem;
      color: #6abf4b;
      text-decoration: none;
   }

   /* Started */
   .started {
      padding-top: 100px;
   }
   
   .started-card {
      width: 80%;
      height: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .started-card-info {
      max-width: 500px;
      margin-left: 5rem;
   }

   .started-card-btns {
      margin-right: 5rem;
   }

   footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .logos-footer {
      width: 550px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }

   .social-logos svg , .social-logos a{
      margin-left: 12px;
   }

   /* Suscribe section */
   .subscribe-container {
      max-width: 1700px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .subscribe-container-form {
      text-align: left;
      max-width: 450px;
   }

   .subscribe-nav-links {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

   .subscribe-nav-links a {
      margin-bottom: 10px;
   }
}

/* Solo la navbar desaparece en dispositivos medianos y pequeños */
@media (max-width: 1200px) {
   .navbar-header {
      display: none;
   }
}